html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
#side-bar {
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.level-title .dhxform_txt_label2 {
  font-size: 20px !important;
}
.level-block > .dhxform_obj_dhx_web.dhxform_block {
  padding-top: 5px;
  padding-bottom: 10px;
  margin: 5px;
}
.filter-block > .dhxform_obj_dhx_web.dhxform_block {
  background-color: rgba(74, 167, 229, 0.12);
  box-shadow: 0 1px 2px rgba(74, 167, 229, 0.53);
}
.path-block > .dhxform_obj_dhx_web.dhxform_block {
  background-color: rgba(255, 87, 34, 0.12);
  box-shadow: 0 1px 2px rgba(244, 67, 54, 0.42);
}
.data-block > .dhxform_obj_dhx_web.dhxform_block {
  background-color: rgba(0, 150, 136, 0.09);
  box-shadow: 0 1px 2px rgba(0, 150, 136, 0.53);
}
.delete-item > .dhxform_btn {
  background-image: url('/static/images/delete-item.png');
}
.add-item > .dhxform_btn,
.delete-item > .dhxform_btn {
  height: 32px;
  width: 32px;
}
.add-item-min > .dhxform_btn,
.delete-item-min > .dhxform_btn {
  height: 21px;
  width: 21px;
  background-size: 21px;
}
.add-item > .dhxform_btn,
.add-item-min > .dhxform_btn,
.delete-item > .dhxform_btn,
.delete-item-min > .dhxform_btn {
  background-repeat: no-repeat;
  border-radius: 50%;
  background-color: white !important;
}
.add-item-min > .dhxform_btn,
.add-item > .dhxform_btn {
  background-image: url('/static/images/add-item.png');
}
.add-item-min > .dhxform_btn.dhxform_btn_over,
.add-item > .dhxform_btn.dhxform_btn_over {
  background-color: #CAEAFF !important;
}
.delete-item-min > .dhxform_btn,
.delete-item > .dhxform_btn {
  background-image: url('/static/images/delete-item.png');
}
.delete-item-min > .dhxform_btn.dhxform_btn_over,
.delete-item > .dhxform_btn.dhxform_btn_over {
  background-color: #FFD4C6 !important;
}
*:focus {
  outline: none;
}
.top-border fieldset {
  border-right: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.top-border fieldset .dhxform_base_nested {
  padding-left: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.dhx_toolbar_dhx_web {
  padding: 0 5px !important;
  height: 32px !important;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_float_left {
  height: 100% !important;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_float_left div.dhx_toolbar_btn {
  margin: 0px !important;
  padding: 0px 6px;
  height: 100%;
}
.dhx_toolbar_dhx_web div.dhxtoolbar_float_left div.dhx_toolbar_btn img {
  margin-top: 4px;
  width: 24px !important;
  height: 24px !important;
}
.levels-config span.selectedTreeRow_lor,
.levels-config span.standartTreeRow,
.levels-config span.selectedTreeRow {
  border-radius: 2px;
  cursor: default;
  font-family: arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
  min-height: 20px;
  min-width: 54px;
  text-align: center;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  display: table;
  line-height: 20px;
  overflow: visible;
}
.levels-config td.selectedTreeRow_lor,
.levels-config td.standartTreeRow,
.levels-config td.selectedTreeRow {
  overflow: visible;
}
.src_levels .dhx_cell_toolbar_no_borders {
  padding-left: 0 !important;
}
.test-data-view .dhx_cell_cont_layout {
  overflow: auto !important;
}
